body {
    background-image: url('../multimedia/images/gimnasio/fondoPrecios.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.container{
    background-color:rgba(219, 124, 140, 0.5);;
}
/* Estilos para resaltar columnas en hover */
.table-hover-columns tbody tr td:hover,
.table-hover-columns tbody tr th:hover {
    background-color: rgba(228, 219, 209, 0.1);
}

/* Estilos para los precios */
.price-annual {
    display: none;
}

/* Estilo para el toggle switch */
.form-check-input:checked {
    background-color: #15da15;
    border-color: #1dc44f;
}
.container-precios{
    background-color: rgba(144, 248, 248, 0.5);
}